.common {
  margin: 0 auto;
  padding: 50px;
}
.profile__main--style {
  margin: 100px, 10px;
}

.user__profile--info {
  margin: 10px;
  width: 100%;
}
.user__posts--info {
  margin: 10px;
  text-align: justify;
  width: 100%;
  padding: 30px;
}
.sub__div--style {
  margin-bottom: 30px;
}
.title__margin {
  margin: 30px 0;
}
.map__div {
  margin: 30px 0;
  padding: 10px;
}
